/* 标题样式 */
.ss>:nth-child(1),.ss>:nth-child(4),.ss>:nth-child(8){
  margin-top: 20px;
  margin-bottom: 10px;
  border:0px solid #ccc;
  background: -webkit-linear-gradient(top, #2e9197 0%, #48b9c1 100%);
  height: 48px;

}
.ss>:nth-child(1)>h1,.ss>:nth-child(4)>h1,.ss>:nth-child(8)>h1{
  font-size: 28px;
  line-height: 48px;
  color: #fff;
  margin: 0px 15px;
}

/* 视频元素 */
.video{
  border: 1px solid #ccc;
  width: 100%;height: 100%;
  position: relative;
}
#ctrl{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#ad{
  position: absolute;
  left: 50%;
  top:50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%,-50%);
}
.video>video{
  width: 100%;height: 100%;
  object-fit:fill;
}
.row :nth-child(3)>p{
  height: 100%;
  border: 1px solid #ccc;
  /* font-size: 22px; */
  font-weight: 550;
  text-indent: 15px;
  text-justify: auto;
  font-family: Consolas, Monaco, Monospace;
  background-color: #f8f8f8;
} 
/* 媒体查询  >1204   font-size:22px <1204 font-size:20px*/
@media screen and (min-width:1023px){
  .js{
    font-size: 24px;
  }
}
@media screen and (max-width:1200px){
  .js{
    font-size: 20px;
  }
}
@media screen and (max-width:996px){
  .js{
    font-size: 14px;
  }
}
/* 魅力舟山 */
.img{
  width: 100%;height: 100%;
  border: 1px solid #ccc;
  padding: 10px 10px;
}
.img>img{
  width: 100%;height: 100%;
}
.charm>h3{
  text-align: center;
  font-size: 1.75rem;
  color: #5a5a5a;
}
.charm{
  padding: 20px 0px;
  border: 1px solid #ccc ;
  border-top: 0px;
}
.charm :nth-child(2){
  text-align: center;
  color: #7e808a;
  font-size: 18px;
}
.charm :last-child{
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #ccc;
}

/* 风景名胜 */
.ss :nth-child(9) .col-3{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}
.ss :nth-child(9) .col-3{
  margin-bottom: 20px;
}
.ss :nth-child(9) .col-3>h2{
    text-align: center;
    color: #214a7b;
    font-weight: bold;
}
.ss :nth-child(9) .col-3>p{
    font-size: 18px;
    text-align: center;
    /* margin: 5px 3px; */
    font-family: 'Ubuntu',sans-serif;
    color: #214a7b;
}

/* 图片过度效果 */
.col-3,.ml{
  overflow: hidden; 
}
img{
  max-width: 100%;
  max-height: 100%;
  transition: all 2s;
}

/* 轮播图放大 */
/* img:hover{
  border-radius: 15px;
  transform:scale(1.2);
} */




   /* 轮播图 */
   .carousel-control-prev,
   .carousel-control-next{
      width:4%;height:20%;
      top:170px;
      border-radius: 0.25rem;
      background: #666;
   }
   .carousel-indicators li{
       width: 0.6rem;height:0.6rem;
       border-radius: 50%;
       background-color: #fff;
       margin-left:0.2rem ;
       margin-right: 0.2rem;
   }
   .carousel-indicators .active{
       background-color: #2e9197;
   }


  /* 登录 */
   .hide{
    display: none;
  }
  .c1{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
  }
  .c2{
    background-color: white;
    position: fixed;
    width: 400px;
    height: 300px;
    top:50%;
    left: 50%;
    z-index: 3;
    margin-top: -150px;
    margin-left: -200px;
  }
  #modal p {
  margin-left:80px;
  }